<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>destination</key>
	<string>export</string>
	<key>manageAppVersionAndBuildNumber</key>
	<true/>
	<key>method</key>
	<string>app-store</string>
	<key>provisioningProfiles</key>
	<dict>
		<key>org.calcofi.oceanview</key>
		<string>CalCOFI OceanView</string>
	</dict>
	<key>signingCertificate</key>
	<string>B8DEB72CF541FCA98D68A621419613788C53ACB5</string>
	<key>signingStyle</key>
	<string>manual</string>
	<key>stripSwiftSymbols</key>
	<true/>
	<key>teamID</key>
	<string>G789749RTK</string>
	<key>uploadSymbols</key>
	<true/>
</dict>
</plist>
