<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>666596831554-5peeue33th4mgjcbqeo19q4aqfbspg1b.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.666596831554-5peeue33th4mgjcbqeo19q4aqfbspg1b</string>
	<key>API_KEY</key>
	<string>AIzaSyD8KNdsWpz_tdGIMua0S4M4GXJhtdL_1tY</string>
	<key>GCM_SENDER_ID</key>
	<string>666596831554</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>org.calcofi.oceanview</string>
	<key>PROJECT_ID</key>
	<string>oceanview-2c289</string>
	<key>STORAGE_BUCKET</key>
	<string>oceanview-2c289.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:666596831554:ios:47a38868d73a9bc97558db</string>
	<key>DATABASE_URL</key>
	<string>https://oceanview-2c289-default-rtdb.firebaseio.com</string>
</dict>
</plist>